In [27]:
import pandas as pd

In [28]:
df = pd.read_excel('../datasets/사본.xlsx', index_col=0)

In [29]:
df.reset_index(inplace= True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 30 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   고유값      1068 non-null   object
 1   성별       1068 non-null   object
 2   생년       1068 non-null   int64
 3   검진년도     1068 non-null   int64
 4   검진 시 연령  1068 non-null   int64
 5   키        1068 non-null   float64
 6   체중       1068 non-null   float64
 7   허리둘레     1067 non-null   float64
 8   BMI      1068 non-null   float64
 9   시력(좌)    1068 non-null   float64
 10  시력(우)    1068 non-null   float64
 11  청력(좌)    1068 non-null   object
 12  청력(우)    1068 non-null   object
 13  수축기혈압    1068 non-null   int64
 14  이완기혈압    1068 non-null   int64
 15  요단백      1066 non-null   object
 16  헤모글로빈    1068 non-null   float64
 17  공복혈당     1068 non-null   int64
 18  총콜레스테롤   902 non-null    float64
 19  HDL      900 non-null    float64
 20  중성지방     900 non-null    float64
 21  LDL      878 non-null    float64
 22  혈청크레아티닌  1068 non-null   float64
 23  신사구체여과율  882 non-null    float64
 24  AST      1068 non-null   int64
 25  ALT      1058 non-null   float64
 26  GTP      1068 non-null   int64
 27  폐결핵흉부질환  1068 non-null   object
 28  골다공증     0 non-null      float64
 29  종합결과     1063 non-null   object
dtypes: float64(15), int64(8), object(7)
memory usage: 250.4+ KB

# '남성' 분류

In [31]:
a_list = []
for i in range(0, len(df)):
    if df['성별'][i] == 'M':
        data = df.iloc[i]
        a_list.append(data)
df2 = pd.DataFrame(a_list)
df2.reset_index(drop= True, inplace= True)

In [32]:
len(df2)

753

In [33]:
df2.to_excel('../datasets/Male.xlsx')

# '여성' 분류

In [34]:
a_list = []
for i in range(0, len(df)):
    if df['성별'][i] == 'F':
        data = df.iloc[i]
        a_list.append(data)
df3 = pd.DataFrame(a_list)
df3.reset_index(drop= True, inplace= True)

In [35]:
len(df3)

315

In [36]:
df3.to_excel('../datasets/Female.xlsx')